@import "variables";
@import "nav";
@import "home";

// body css
body{
  font-family:sans-serif;
  background-image: -moz-linear-gradient(30deg, $start 0%, $end 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$start), color-stop(100%,$end));
	background: -webkit-linear-gradient(30deg, $start 0%,$end 100%);
	background: -o-linear-gradient(30deg, $start 0%,$end 100%);
	background: -ms-linear-gradient(30deg, $start 0%,$end 100%);
  background: linear-gradient(30deg, $start 0%,$end 100%);
}

//initially hiding the contact tab, which will be triggered by the contact button 
#contact {
  display: none;
}

//for form view
form{
  position: absolute;

  width: 491px;
  height: 206px;
  top: 284px;
  left: 670px;

  border-radius: 5px;
  padding: 1em;
  background: linear-gradient(30deg, $start 0%,$end 100%);
}

//for submit button when a contact is submitted
#submit-btn {
  background: linear-gradient(30deg, $start 0%,$end 100%);
  border-radius: 10px;

  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255)
}